/*
TODO: Vertically-Center quote/picture.
TODO: Media query quote/picture so on xs the quote is always below.
*/
html {
  margin: 0 5%;
}
body {
  margin: 5% auto;
  max-width: 960px; /* Width of the logo */
}
main {
  padding: 5%;
}
ul {
  padding-left: 0;
}
footer {
  margin: 1%;
  font-size: 10px;
  color: #BBB;
}
blockquote {
  font-style: italic;
  font-size: 1.1em;
}
blockquote cite {
  font-style: normal;
}
img {
  border-radius: 2%;
}
.logo {
  border-bottom: 1px solid;
  margin: 0;
  background-color: #000;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,255); /* Add text border for visibility */
  background-image:url('../img/earth_logo.jpg');
  background-position: center 20px;
  background-repeat: no-repeat;
}
.container-fluid {
  background-color: #EEE;
  border: 1px solid;
  border-radius: 2%;
  padding: 0;
  overflow: hidden;
}
.media-listing {
  margin: 3%;
}
.h300 {
  height: 300px;
}
.summary {
  margin: 5% 0;
}
